/* IMPORTAR FONTES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:  sans-serif;
    
    font-size: 15px;
    background-image: linear-gradient(to bottom , #141414);
  /* background-color: rgb(255, 255, 255);*/
}
/* CLASSES */
.redeSocial{
    width: 30px;
    margin: 5px 10px;
   
}
#landing .android{
    display: block;
    
}
#nav_responsivo{
    display: none;
}

/* CABEÇALHO */
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0B6E7F;
    
    position: fixed;
    font-family: 'Varela Round', sans-serif;
    border-bottom: solid 1px;
    font-size: 17px;
}
ul{
    list-style: none;
}
header p{
    margin-left:38px;
    font-weight: 600;
}
#nav_links li{
    display: inline;
    margin-right:38px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
#hcontatos{    
    text-decoration: none;
    color: white;
} 
#teste{    
    text-decoration: none;
    color: bal;
    
} 

#n{    
    text-decoration: none;
    color: white;
} 
#r{    
    text-decoration: none;
    color: rgb(0, 0, 0);

   
    
} 
#a{
    font-size: 22px;
}


/* Landing */
#landing{
    display: flex;
    flex-direction: column;
    min-height:100vh ;
    align-items: center;
    justify-content: center;
    
}
#landing div{
    display: flex;
}
.dois{
    /*background-color: white;*/
    
    background-color: 083263;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 30%;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
#imagem{
    background:url("Imagens/MF.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 140px;
}
#bordaImagem{
    border: black solid 5px;
    border-radius: 140px;
    padding: 20px;
}
.dois p{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

#img2{
    background:url("Imagens/MF.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 140px;
}


/* SOBRE MIM */
#sobreMim{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 510px;
    text-decoration: none;
    background-color: #0B6E7F;
    color: #ffffff;
    
    
}

#sobreMimNos{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    height: 20px;
    text-decoration: underline;
}
#sobreMim h1{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    font-family: 'Source Code Pro', monospace;
}
#sobreMim h2{
    font-style: normal;
    margin: 40px;
   
    font-size: 25px;
    line-height: 44px;
    text-align: justify;
    font-size: 23px;
    font-family:  sans-serif;
}
#sobreMim p{
    font-style: normal;
    margin: 40px;
   
    font-size: 25px;
    line-height: 44px;
    text-align: justify;
    font-size: 23px;
    font-family:  sans-serif;
}

/* FORMAÇÕES E CONQUISTAS */
#formacaoConquistas{
    display: flex;
    justify-content: space-evenly;
}
#formacoes,#conquistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    
}
#formacoes h1, #conquistas h1{
    font-family: 'Source Code Pro', monospace;
   
}

/* PORTIFOLIOS */
#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B6E7F;
    color: #ffffff;
}
#portifolio h1{
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    font-family: 'Source Code Pro', monospace;
}  
#c{
text-decoration: underline;
text-align: center;

}
#projetos{
    display: grid;
    width: 25vw;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 17rem;
    gap: 90px;
    grid-auto-flow: 17rem;
}
#projetos img{
    width: 160px;
    height: 905px;
    border-radius: 20vh;
}


#projetos .content{
    background-color: #0B6E7F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    max-width: 500px;
    min-width: 250px;
}
#contatos h1{
    grid-area: "title";
}
#contatos .redeSocial{
    grid-area: "redesocial";

}
#contatos p{
    grid-area: "text";
}

#contatos{
    margin-top: 100spx;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    background-color: #ffffff;
    /* background-image: linear-gradient(to bottom , #36577c,#111f30);*/

    
}

#contatos{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    background-color: #ffffff;
    /* background-image: linear-gradient(to bottom , #36577c,#111f30);*/

    
}

#contatos div{
    display: grid;
    align-items: center;
    justify-content: center; 
}
#contatos div:first-child{
   margin-bottom: 105px;
}





/* RESPONSIVIDADE */
@media(max-width:970px){
    #formacaoConquistas p, #sobreMim p{
        font-size: 20px;
    }
    #landing{
        justify-content: center;
    }
    #landing .android{
        display: block;
        text-align: center;
        margin-bottom: 40px;
        font-size: small;
        margin-top: 40px;
    }
    #nav_links{
        display: none;
    }
    /*Nav bar responsivo */
    #nav_responsivo{
    margin: 5px;
    display: flex;
    flex-direction: column;
    
}
    #nav_responsivo:hover #nav_links{
        display: flex;
        flex-direction: column;
    }
    #nav_responsivo img{
        cursor: pointer;
    }
   
}

@media(max-width: 860px){
    #projetos {
        grid-template-columns: 1fr;
        grid-auto-rows: 17rem;
    }
    @media(max-width:730px){

        #formacaoConquistas{
            flex-direction: column;
        }
        #contatos{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
    @media(max-width:500px){
        #sobreMim p{
            font-size: 25px;
        }
    }
}